/* base blog body  */
.base-blog{
    width: 80%;
    margin: 0 auto;
}

.base-blog__list{
    list-style: none;
    padding-left: 0;
}

.base-blog__item{
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

.base-blog__item:nth-child(2n){
    flex-direction: row-reverse;   /*Đảo ngược vị trí của các phần tử ở thứ tự chẵn*/
}

.base-blog__item:last-child{
    margin-bottom: 0;
}

.base-blog__item:last-child.base-blog__item::after{
    display: none;
}

.base-blog__item::after{
    position: absolute;
    display: block;
    content: "";
    width: 31%;
    border-top: 1px solid #e8555c;
    bottom: -8%;
    left: 35%;
}

.base-blog__item--img-box{
    width: 35%;
}

.base-blog__item--img{
    width: 100%;
}

.base-blog__item--content-box{
    margin-left: 40px;
    width: 65%;
}

.base-blog__item:nth-child(2n) .base-blog__item--content-box{
    margin-left: 0;
    margin-right: 40px;
}

.base-blog__item--content-heading{
    display: block;
    padding-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
}

.base-blog__item--content-heading:hover{
    text-decoration: underline;
}

.base-blog__item--content-desc{
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    display: block;
    padding: 10px 0 20px;
}
