.main-menu{
    padding-top: 40px;
}
  
.header-border-bottom{
    position: relative;
    padding-left:35px ;
}
  
.header-border-bottom::after{
    position: absolute;
    content: "";
    top: 190%;
    width: 25%;
    border-top: 3px solid #e8555c;
}
  
.header-border-bottom__text{
    display: block;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
  
.main-menu__list{
    list-style: none;
    padding-left: 0;
    position: relative;
}
  
.main-menu__list-item{
    width: 50%;
}
  
.main-menu__list-item--link-text{
    margin: 0;
}
  
.main-menu__list-item--link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    padding: 25px 0;
}
  
.main-menu__list-item--link-label{
    display: flex;
    align-items: center;
}
  
.main-menu__list-item--link:hover .main-menu__list-item--link-label p{
    opacity: 0.4;
}
  
/* .main-menu__list-item--link:hover .main-menu__list-item--icon{
    display: none;
}
  
.main-menu__list-item--link:hover .main-menu__list-item--icon.main-menu__list-item--icon-active{
    display: block;
} */
  
.main-menu__list-item--icon{
    margin-right: 10px;
}
  
i.main-menu__list-item--icon-active{
    /* display: none; */
    color: #e8555c;
    margin-right: 10px;
}
  
.main-menu__list-item--box{
    position: absolute;
    top: -15%;
    left: 32%;
    width: 65%;
    visibility: hidden;
    opacity: 0;
}
  
.main-menu__list-item--img{
    width: 100%;
}
  
/* .main-menu__list-item--link:hover .main-menu__list-item--box{
    visibility: visible;
    opacity: 1; 
} */
  
.main-menu__list-item--box.main-menu__list-item--box--active{
    visibility: visible;
    opacity: 1;
}

.main-menu__mobile-picture{
    display: none;
}
  
@media (min-width:740px) and (max-width:1024px){
    .main-menu__mobile-picture{
        display: none;
    }
}

@media (max-width:739px){   
    .main-menu__list{
        
    }

    .main-menu__list-item{
        margin: 0 auto;
    }

    .main-menu__list-item--link{
        display: block;
        border-bottom :1px solid rgb(136, 135, 135) ;
    }

    .main-menu__list-item--link-label{
        text-align: center;
        display: block;
    }

    .main-menu__list-item--icon,.main-menu__list-item--icon-active{
        display: none;
    }

    .main-menu__list-item--link-text{
        text-align: center;
    }

    .main-menu__list-item--box{
        display: none;
    }

    /* Mobile-picture-menu  */

    .main-menu__mobile-picture{
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }

    .main-menu__mobile-picture--src{
        width: 100%;
    }

}