*{
    box-sizing: inherit;
}

:root{
    --background-color:#ffffff;
    --text-color:#333333;
    --bg-hover: #f1f1f1;
    --red-color: #e8555c;
}

html{
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth ; /*Hành vi khi cuộn trang web*/
}

.grid{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid__column-3{
    margin-left: 5px;
    margin-right: 5px;
    width: 385px;
}

@keyframes Down{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Up{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* base button  */
.button-base{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: #e8555c;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
}

.button-base:hover{
    text-decoration: underline;
    cursor: pointer;
}

