.app{
  position: relative;
  background-image: url("./img/bg-right-page.png");
}

/* header */
a{
  text-decoration: none;
}

.header{
  height: 90px;
  position: fixed;
  width: 100%;
  border-bottom:1px solid #f2f3f5 ;
  background-color: rgba(255,255,255,0.95) ;
  z-index: 1;
}

.nav{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
}

.nav__logo-img{
  width: 198px;
  height: 56px;
  margin: auto 0;
}

.nav__list{
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
  padding-left: 20px;
}

.nav__list-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list-item--link{
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  padding: 9px 8px;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.nav__list-item:hover .nav__list-item--link{
  border-bottom: 2px solid #e8555c;
  transition: all ease 0.2s;
}

.nav__list-item--link.nav__list-item--link--active{
  border-bottom: 2px solid #e8555c;
}

.nav__list-option{
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 130%;
  left: 15%;
  box-shadow: 0 1px 1rem rgb(0 0 0 / 20%);
  width: 200px;
  z-index: 2;
  display: none;
  animation: Down ease 0.4s;
}

.nav__list-item:hover .nav__list-option{
  display: block;
}

.nav__list-option::before{
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  display: block;
  width: 54%;
  height: 20px;
}

.nav__list-option-item--link{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  line-height: 14px;
  border-bottom: 1px solid #d0d0d0;
}

.nav__list-option-item--link:hover{
  background-color: var(--bg-hover);
}

.nav__list-option-item:last-child .nav__list-option-item--link{
  border-bottom:1px solid transparent;
}

/* App container  */
.app-container{
  padding-top: 90px;
}

.app-container__banner{
  width: 90%;
  margin: auto;
  position: relative;
}

.app-container__banner-img{
  animation: FadeIn ease 0.5s;
}

.app-container__banner-img.app-container__banner-img-js{
  display: none;
}

.app-container__banner-img.app-container__banner-img-js.app-container__banner-img--active{
  display: block;
}

.list-dot{
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 0%;
  width: 100%;
}

.dot-icon{
  font-size: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: #3ba9a0;
}

.app-container__banner-img{
  width: 100%;
  padding: auto;
}

/* welcome  */

.content__welcome{
  padding-top: 40px;
  text-align: center;
}

.content__welcome-header{
  position: relative;
}

.content__welcome-header::after{
  position: absolute;
  content: "";
  width: 21%;
  border-top: 3px solid #e8555c;
  top: 167%;
  left: 40%;
}

.content__welcome-header--link{
  text-decoration: none;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
}

.content__welcome-header--text{
  display: block;
  font-size: 18px;
  line-height: 40px;
  padding: 20px 50px 30px;
}

.content__welcome-blog{
  padding: 0 30px;
}

.content__welcome-blog-item{
  position: relative;
  border: 2px solid rgba(209, 209, 209, 0.5);
  background-color: #fdfcfb;
}

.content__welcome-blog-item:hover{
  opacity: 0.8;
}

.content__welcome-blog-item--img{
  width: 100%;
  object-fit: contain;
}

.content__welcome-blog-item--lable{
  position: absolute;
  top: 90%;
  right: 0;
  left: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #737373;
}

/* main menu  */

.main-menu{
  padding-top: 40px;
}

.header-border-bottom{
  position: relative;
  padding-left:35px ;
}

.header-border-bottom::after{
  position: absolute;
  content: "";
  top: 190%;
  width: 25%;
  border-top: 3px solid #e8555c;
}

.header-border-bottom__text{
  display: block;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-menu__list{
  list-style: none;
  padding-left: 0;
  position: relative;
}

.main-menu__list-item{
  width: 50%;
  
}

.main-menu__list-item--link-text{
  margin: 0;
}

.main-menu__list-item--link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  font-weight: 600;
  padding: 25px 0;
}

.main-menu__list-item--link-label{
  display: flex;
  align-items: center;
}

.main-menu__list-item--link:hover .main-menu__list-item--link-label p{
  opacity: 0.4;
}

/* .main-menu__list-item--link:hover .main-menu__list-item--icon{
  display: none;
}

.main-menu__list-item--link:hover .main-menu__list-item--icon.main-menu__list-item--icon-active{
  display: block;
} */

.main-menu__list-item--icon{
  margin-right: 10px;
}

i.main-menu__list-item--icon-active{
  /* display: none; */
  color: #e8555c;
  margin-right: 10px;
}

.main-menu__list-item--box{
  position: absolute;
  top: -15%;
  left: 32%;
  width: 65%;
  visibility: hidden;
  opacity: 0;
}

.main-menu__list-item--img{
  width: 100%;
}

/* .main-menu__list-item--link:hover .main-menu__list-item--box{
  visibility: visible;
  opacity: 1; 
} */

.main-menu__list-item--box.main-menu__list-item--box--active{
  visibility: visible;
  opacity: 1;
}


/* nhà hàng local  */
.content-local{
  margin-top: 200px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.content-local__list{
  list-style: none;
  background-color: #f2f3f5;
  width: 40%;
  margin-left: 35px;
  margin-top: 40px;
  padding: 30px 0px 30px 30px;
  overflow: auto;
  height: 450px;
}

.content-local__item{
  padding-bottom: 20px;
}

.content-local__item:last-child{
  padding-bottom: 0px;
}

.content-local__item-link{
  display: flex;
  width: 100%;
}

.content-local__item-box-img{
  width: 100px;
  height: 100px;
}

.content-local__item-img{
  width: 100%;
  height: 100%;
  /* fix ảnh vuông  */
  object-fit: cover;
  border-radius: 50%;
}


.content-local__item-content{
  margin-left: 20px;
}

.content-local__item-content-header{
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.content-local__item-content-header:hover{
  text-decoration: underline;
}

.content-local__item-content-text{
  font-size: 16px;
  color: var(--text-color);
  opacity: 0.8;
}

.content-local__item-map{
  position: absolute;
  top: 20%;
  left: 44%;
  display: none;
}

/* .content-local__item-link:hover .content-local__item-map{
  display: block;
} */

.content-local__item-map.content-local__item-map--active{
  display: block;
}

/* footer  */

.footer{
  height: 150px;
  background-color:#003c5b ;
  margin-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-tel{
  font-size: 40px;
  margin-top: 40px;
}

.footer-tel i{
  margin-left: 20px;
}

.footer-contact{
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 150px;
}

.footer-contact__socials{
  margin-top: 25px;
}

.footer-contact__socials-icon-link{
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}

/* --------------------------------------------- INFO ---------------------------------------------------------- */

.info1-content__body{
  display: flex;
  margin-top: 40px;
  justify-content: center;    
}

/* info 2 */

.info2-content__body{
  /* margin-top: 40px; */
}

.info2-content__body--list{
  list-style: none;
}

.info2-content__body--item{
  display: flex;
  margin-top: 40px;
}

.info2-content__body--item-img-box{
  width: 347px;
}

.info2-content__body--item-img{
  width: 100%;
}

.info2-content__body--item-label{
  margin-left: 40px;
}

.info2-content__body--item-header{
  font-size: 25px;
  margin-top: 10px;
  display: block;
  position: relative;
}

.info2-content__body--item-header::after{
  position: absolute;
  content: "";
  border-top: 3px solid #e8555c;
  width: 77%;
  top: 131%;
  left: 0%;
}

.info2-content__body--item-link{
  display: block;
  padding: 0;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
}

.info2-content__body--item-link:hover{
  text-decoration: underline;
}

.info2-content__body--item-button{
  margin-top: 20px;
}

/* info 3  */


.info3-content__body-banner{ 
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info3-content__body-banner-img-box{
  width: 80%;
}

.info3-content__body-banner-img{
  width: 100%;
  margin: auto;
}

.info3-content__body-feedback{
  width: 90%;
}

.info3-content__body-feedback-img{
  width: 100%;
}

/* --------------------------------------------- MENU ---------------------------------------------------------- */

.menu5-content__body-header{
  font-size: 35px;
  color: var(--text-color);
  text-align: center;
  margin: 100px 0px 100px;
}

/* --------------------------------------------- SALE ---------------------------------------------------------- */

.sale-content__body{
  width: 80%;
  margin: 0 auto;
}

.sale-body__list{
  list-style: none;
  padding-left: 0;
}

.sale-body__item{
  display: flex;
  margin-top: 40px;

}

.sale-body__item--img-box{
  width: 35%;
}

.sale-body__item--img{
  width: 100%;
  object-fit: contain;
}

.sale-body__item--content-box{
  width: 65%;
  margin-left: 60px;
}

.sale-body__item--heading{
  text-decoration: none;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
}

.sale-body__item--heading:hover{
  text-decoration: underline;
}

.sale-body__item--desc{
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
}

/* --------------------------------------------- BLOG ---------------------------------------------------------- */
.blog3__content-body{
  margin-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.blog3__body--list{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.blog3__body--item{
  width: 200px;
  text-align: center;
}

.blog3__body--item--img-box{
  width: 100%;
}

.blog3__body--item--img{
  width: 100%;
}

.blog3__body--item-label{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.blog3__banner{
  margin-top: 40px;
}

.blog3__banner--img{
  width: 100%;
}

iframe{
  width : 700px;
  height : 450px; 
  border : 0;
}